* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background-color: #f4f4f4; 
}

header {
  background: #191970; 
  color: white;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
  width: 40px; /* Set width equal to height */
  border-radius: 50%; /* This makes it circular */
  object-fit: cover;  /* Keeps it nicely cropped inside the circle */
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav a, .socials a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 0.95rem;
}

.socials a img {
  height: 20px;
  vertical-align: middle;
}

.hero, .portfolio {
  background-color: #ffffff;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  text-align: left;
  background-color: #ffffff
}

.hero .left{
  flex: 1;
  min-width: 280px;
  max-width: 500px;
}

.hero .right-img {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 250px;
}

.hero .right-img img {
  width: 100px;
  max-width: 280px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.learn-more-btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #191970;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #333399;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1rem;
  color: #555;
}


.portfolio {
  text-align: center;
  padding: 1rem 1rem;
  margin-top:-1rem ;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.project {
  background: white;
  padding: 1rem;
  width: 280px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  border: 2px solid #ccc;
}

.project:hover {
  border-color: #666;
  transform: scale(1.03);
  transition: all 0.3s ease;
}

footer {
  background: #191970; 
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}